<div class ="container">
  <center>
    <h1> Course Inactivation Requests</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>  Course ID         </th>
      </tr>
      </thead>

      <tbody>
      <% if !@course_in_reqs.nil? %>
      <% @course_in_reqs.each do |course_in_req| %>
          <!%	if user.is_instructor  %>
              <tr>
                <td><%= course_in_req.course_id %></td>
                <td><%=link_to({:controller => 'courses', :action => 'make_inactive', :course_id => course_in_req.course_id }, {:class => 'btn btn-default'}) do%>
                      <i>Accept</i><%end%></td>
              </tr>
          <!%  end %>
          <% end %>
      <% end%>
      </tbody>
    </table>
  </center>
</div>
<nav class="navbar navbar-default">
  <%=link_to({:controller => 'admins' , :action => 'home'}, {:class => 'btn btn-default'}) do%>
        <i>Back</i><%end%>
</nav>