<h1>Editing course</h1>


<% @course = Course.find(params[:id])%>
<% @user = User.find(session[:id])%>
<%= form_for(@course) do |f| %>


    <div class="field">
      <%= f.label :course_id %><br>
      <%= f.text_field :course_id %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
      <br>
    </div>
    <div class="field">
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date %>
    </div>
    <div class="field">
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date %>
    </div>
    <div class="field">
      <%= f.label :is_active %><br>
      <%= f.text_field :is_active %>
    </div>
    <div class="field">
      <%= f.label :materials %><br>
      <%= f.text_field :materials %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<!% if @user.is_admin %>
    <%= link_to('Back', :controller => 'courses' , :action => 'show')%>
<!% elsif @user_1.is_instructor%>
    <!%= link_to('Back', :controller => 'instructor' , :action => 'index')%>
<!%else %>
    <!%= link_to('Back', :controller => 'student' , :action => 'index')%>
<!%end%>

